.wrapper {
  display: grid;
  grid-template-columns: 1fr var(--table-of-contents-width);
}

/* DOCS */

.docs h1 {
  margin: 10px 0;
  color: var(--color-gray-900);
}

.docs h2 {
  margin-top: 40px;
  margin-bottom: 6px;
  color: var(--color-gray-900);
}

.docs h3 {
  margin: 24px 0 8px;
  color: var(--color-gray-900);
}

.docs p {
  margin-bottom: 16px;
  color: var(--color-gray-600);
}

.docs ul {
  padding-left: 30px;
  color: var(--color-gray-600);
}

/* TABLE OF CONTENTS */

.tableOfContents {
  width: var(--table-of-contents-width);
}

.content {
  position: fixed;
  /* 12px - top padding from parent */
  height: calc(100% - 12px);
  width: var(--table-of-contents-width);
  top: 0;
  right: 0;
  padding: 24px;
  padding-top: 64px;
  overflow-y: auto;
}

.contentTitle {
  font-size: 2.4rem;
  margin-bottom: 18px;
  color: var(--color-gray-900);
}

.list {
  list-style: none;
  color: var(--color-gray-600);
}

.list .list {
  padding-left: 12px;
  margin-top: 8px;
}

.link {
  font-size: 1.4rem;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.link:hover {
  color: var(--color-gray-900);
}

.listItem:not(:last-child) {
  margin-bottom: 8px;
}

.active {
  color: red;
}
