.main {
  display: grid;
  grid-template-columns: var(--nav-width) 1fr;
  min-height: 100%;
  padding-top: 12px;
}

.content {
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 40px 0 0;
}
