* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;

  --header-height: 64px;
  --nav-width: 300px;
  --table-of-contents-width: 256px;

  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 16px);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(0, 30, 60);
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100%;
}

#root {
  height: 100%;
}

h1,
h2,
h3 {
  color: #f3f6f9;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  color: inherit;
}
