.navContent {
  position: fixed;
  width: var(--nav-width);
  height: 100%;
  padding: 88px 24px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.link {
  display: block;
  padding: 8px 12px;
  font-size: 1.6rem;
  border-radius: 6px;
  text-decoration: none;
  color: var(--color-white);
}

.active {
  background-color: var(--color-gray-700);
}
